@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 95% 7%;
    --foreground: 0 0% 100%;
    --card: 240 95% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 240 95% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 277 94% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 95% 7%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 95% 15%;
    --muted-foreground: 0 0% 80%;
    --accent: 277 94% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 277 94% 57%;
    --input: 240 95% 15%;
    --ring: 277 94% 57%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 95% 7%;
    --foreground: 0 0% 100%;
    --card: 240 95% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 240 95% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 277 94% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 95% 7%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 95% 15%;
    --muted-foreground: 0 0% 80%;
    --accent: 277 94% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 277 94% 57%;
    --input: 240 95% 15%;
    --ring: 277 94% 57%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
